{% extends "viagens/base.html" %}
{% load static %}
{%block content%}

        <!-- Título da seção de viagens -->
        <h2 class="text-2xl font-semibold mb-4 text-center">Minhas últimas viagens</h2>
        <!-- Container Flexível para as viagens -->
        <div class="flex flex-wrap justify-center gap-6">
            <!-- Receita 1 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <img src="{% static 'viagens/img/imagessantos.jpg'%}" alt="[Viagem para Santos]" class="w-full h-48 objevt-cover rounded-md mb-4">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Viagem para Santos</h3>
                <p class="text-gray-600 mb-4"></p>
                <a href="{% url 'viagem_detail' id=1 %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Viagem &rarr;</a>
            </div>
            <!-- Receita 2 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <img src="{% static 'viagens/img/imagesholambra.jpg'%}" alt="[Viagem para Holambra]" class="w-full h-48 objevt-cover rounded-md mb-4">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Viagem para Holambra</h3>
                <p class="text-gray-600 mb-4"> </p>
                <a href="{% url 'viagem_detail' id=2 %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Viagem &rarr;</a>
            </div>
            <!-- Receita 3 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <img src="{% static 'viagens/img/Bonito-MS-O-que-Fazer-Capa.jpg'%}" alt="[Viagem para Bonito]" class="w-full h-48 objevt-cover rounded-md mb-4">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Viagem para Bonito</h3>
                <p class="text-gray-600 mb-4"></p>
                <a href="{% url 'viagem_detail' id=3 %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Viagem &rarr;</a>
            </div>
            <!-- Receita 4 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <img src="{% static 'viagens/img/bfb7e46daa73ffe3206abbe43a384354ilha.avif'%}" alt="[Viagem para Ilha Bela]" class="w-full h-48 objevt-cover rounded-md mb-4">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Viagem para Ilha Bela</h3>
                <p class="text-gray-600 mb-4"></p>
                <a href="{% url 'viagem_detail' id=4 %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Viagem &rarr;</a>
            </div>
            <!-- Receita 5 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <img src="{% static 'viagens/img/atracoes-beto-carrero-world-tudo-o-que-voce-nao-pode-perder.jpg'%}" alt="[Viagem para Beto Carrero]" class="w-full h-48 objevt-cover rounded-md mb-4">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Viagem para Beto Carrero</h3>
                <p class="text-gray-600 mb-4"></p>
                <a href="{% url 'viagem_detail' id=5 %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Viagem &rarr;</a>
            </div>
            <!-- Receita 6 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <img src="{% static 'viagens/img/4142-itaipupanoramica2real.webp'%}" alt="[Viagem para Itaipu]" class="w-full h-48 objevt-cover rounded-md mb-4">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Viagem para Itaipu</h3>
                <p class="text-gray-600 mb-4"></p>
                <a href="{% url 'viagem_detail' id=6 %}" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Viagem &rarr;</a>
            </div>
        </div>
        <!-- <p class="text-lg text-gray-700">Aqui você poderá organizar minhas viagens favoritas</p> -->
{% endblock %}