{% extends 'viagens/base.html'%}

{%block content%}
<div class="container mx-auto mt-8 p-4">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-2xl overflow-hidden">

        <div class="p-8 text-center bg-gray-100 dark:bg-gray-700">
            <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-4">Sobre Nós</h1>
            <p class="text-lg text-gray-600 dark:text-gray-400 max-w-2xl mx-auto">Bem-vindo ao Rumo ao Mundo! Nossa
                paixão é viajar, e nossa missão é levar a diversidade de culturas e destinos do mundo diretamente para
                as suas próximas aventuras.a</p>
        </div>

        <div class="p-8 lg:p-12 grid lg:grid-cols-2 gap-8 items-center">
            <div class="text-gray-600 dark:text-gray-300 space-y-4">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Acreditamos que viajar é mais do que apenas
                    explorar novos lugares — é uma forma de descobrir culturas, fazer conexões e celebrar a diversidade
                    do mundo. É por isso que criamos este espaço: para ser um guia confiável para todos, desde os
                    viajantes de primeira viagem até os aventureiros experientes.</p>
                    <p>Aqui, você encontrará uma vasta coleção de dicas e roteiros cuidadosamente selecionados, que
                        celebram a beleza das viagens. De destinos clássicos ao redor do mundo a experiências exóticas e
                        únicas, de aventuras no coração da natureza a escapadas relaxantes para renovar a alma.</p>
            </div>
        </div>

        <div class="p-8 lg:p-12 text-center bg-gray-50 dark:bg-gray-700">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Junte-se á Nossa Comunidade</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-6 max-w-3xl mx-auto">Compartilhe suas experiências, suas
                dicas. Vamos juntos embarcar nessa jornada.</p>
            <a href="{% url 'home'%}" class="inline-block bg-orange-500 text-white font-bold py-3 px-6 rounded-full shadow-lg hover:bg-orange-600 
                transition-colors duration-300 transform hover:-translate-y-1">Explore as Viagens</a>
        </div>
    </div>
</div>
{% endblock %}