{% extends "viagens/base.html" %}
{% load static %}
{%block content%}
        <div class="flex flex-col md:flex-row gap-8">
            {# Imagem da Viagem #}
            {% if viagem.image %}
                <div class="md:w-1/2">
                    <img src="{{ viagem.image.url }}" alt="[Imagem de {{ viagem.title}}]" class="w-full h-auto object-cover rounded-lg shadow-md">
                </div>
            {% endif %}
            {# Detalhes da Receita #}
            <div class="md:w-1/2">
                <h2 class="text-4x1 font-bold text-gray-900 mb-4">{{ viagem.title }}</h2>
                <h3 class="text-2x1 font-semibold text-gray-800 mb-2">Descrição</h3>
                <p class="text-gray-700 mb-6 leading-relaxed">{{ viagem.description }}</p>
              
            </div>
        </div>
        <div class="mt-8 text-center">
            <a href="{% url 'home' %}" class="inline-block bg-orange-500 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out shadow-lg">
                &larr; Voltar para a Lista de Viagens</a>
        </div>
{% endblock %}